/*@import 'ember-paper';*/
@import "bower_components/font-awesome/scss/font-awesome";

@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body {
	background: url('https://source.unsplash.com/category/technology') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #333;
}
h1 {
	margin-bottom: 0;
	font-family: 'Allerta', sans-serif;
	text-shadow: #999 9px 9px 9px;
    font-size: 2.9em;
}

@import 'home-page';
@import 'contact-links';