body {
	background: url('https://source.unsplash.com/category/technology') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
	target: _blank;
}

.fade {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.5);
}
.content {
	margin-top: 4in;
	text-align: center;
	color: #333;
	text-shadow: 1px 2px 2px #999;
}
.title {
	padding-left: 2px;
	margin-bottom: 0;
	font-family: 'Allerta', sans-serif;
	font-size: 3em;
}
.subtitle {
	margin: 0 0 25px 0;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.5em;
}
.links { padding: 0; list-style: none; }
	.links li { display: inline; }
	.links a { text-decoration: none; color: inherit; }
	.links .fa { padding: 5px; font-size: 25px; }