<div class="fade-background"></div>
<div class="main-content">
	<div class="center-element">
		<h1>johnjullies</h1>
		<p class="description">
			Web Developer
		</p>
		<ul class="contact-links">
			{{#each model as |link|}}
				<li>
					<a href={{link.url}} target="_blank">{{fa-icon link.icon size="lg"}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
</div>

{{outlet}}
